.name-underline {
  height: 2px;
  background: radial-gradient(gray, transparent);
}

.name-box {
  margin: 30px;
  padding: 10px;
}

.flag-button {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.switch-button:disabled {
  color: green;
}
